/* General styles for the navbar */
.navbar {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Dark grey background when scrolled */
.navbar.scrolled {
  background-color: #333; /* Dark grey background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.hidden {
  transform: translateY(-100%);
}

/* Logo styles */
.logo {
  width: 90px;
  height: auto;
  margin-left: 10px;
  transition: width 0.3s ease-in-out;
}

/* Optional: Make logo slightly smaller when scrolled */
.navbar.scrolled .logo {
  width: 80px;
}

/* Navigation links styles */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s ease;
}

.nav-links li:hover {
  color: #1e90ff;
}

.contact-btn {
  padding: 8px 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-btn:hover {
  background-color: #1769aa;
}

/* Hamburger icon styles */
.hamburger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger-icon .bar {
  height: 5px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger-icon {
    display: flex;
  }

  .navbar.scrolled .hamburger-icon .bar {
    background-color: #fff;
  }
}